In [ ]:
DataScienceEcosystem.ipynb

# Data Science Tools and Ecosystem

<blockquote>In this notebook, Data Science Tools and Ecosystem are summarized.</blockquote>

__Objectives:__ <br>
     -  List popular languages for Data Science <br>
     -  Arithmetic expressions <br>
     -  Popular Tools <br>
     -  Popular Libraries</blockquote>

<blockquote>Some of the popular languages that Data Scientists use are: <br>
    1. SQL <br>
    2. Python <br>
    3. R</blockquote>

<blockquote>Some of the commonly used libraries used by Data Scientists include: <br>
    1. NumPy <br>
    2. Pandas <br>
    3. TensorFlow</blockquote>

|Data Science Tools|
|:----------------:|
|Apache Spark|
|TensorFlow|
|Weka|

## <blockquote>Below are a few examples of evaluating arithmetic expressions in Python: <br>
    1. $a-b$ <br>
    2. $\frac{a}{b}$ <br>

<blockquote>This a simple arithmetic expression to multiply then add integers: (3*4)+5

In [3]:
(3*4)+5

17

<blockquote>This will convert 200 minutes to hours by dividing by 60

In [5]:
200/60

3.3333333333333335

## Author <br>
Lourdes Devenney